@font-face {
    font-family: raleway-bold;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face{
    font-family: raleway-light;
    src: url(../fonts/Raleway-Light.ttf);
}
*{
    box-sizing: border-box;   
}
body{
    background: #000;
    border-color: #31A8DD solid 1px;
}

.banner{ 
    height:550px;
    flex-shrink: 0;
    background-image: url('../images/banner.png');
    background-image: url('../images/banner.png'),linear-gradient(rgba(0, 0, 0, 1), rgb(2, 38, 54),rgba(0, 0, 0, 1));
    background-size: cover;
    border-bottom: #31A8DD solid 1px;
}
.banner-content{
    margin: auto;
    width: 510px;
    padding: 54px;
    height: 393px;
    margin-bottom: 156px;
    text-align: center;
}

.banner-content h1{
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 37px;
    font-family: raleway-bold;
    font-weight: 900;
    font: line;
    background-clip: text;
    background-image: linear-gradient(rgba(51, 168, 219, 1), rgba(20, 114, 183));
    -webkit-text-fill-color: transparent; 
    text-transform: uppercase;
}
.banner-content p{
    display: flex;
    font-weight: lighter;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Raleway-light; 
}
.banner-content button{
    color: #31A8DD;
    text-align: center;
    font-size: 14px;
    font-family: Raleway-bold;
    font-weight: 900;
    letter-spacing: 3.36px;
    border: #31A8DD solid 1px;
    padding: 19px 50px;
    background: transparent;
    text-transform: uppercase;
}

#course-content{
    width: 40%;
    margin: auto;
    height: 450px;  
    
}
#course-content h2{
    margin: auto;
    width:800px;
    padding-top: 70px;
    text-align: center;
    color:#31A8DD;
    font-family: raleway-light;
    text-transform: uppercase;
}
section h2{
    font-family: raleway-light;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color:#31A8DD;
    padding-top: 20px;
    letter-spacing: 5px;
}
#course-content p{
    margin: auto;
    width:100%;
    padding: 10px;
    color: #fff;
    font-family: raleway-light;
    text-align: center;
    font-size: 12px; 
}
.module{
    display: block;
    margin: auto;
    width:600px;
    color: #fff;
    text-align: center;
    border: #31A8DD solid 1px;
    padding: 15px;
    border-radius: 50px;
    background-color: #1c1a1a;
    margin-top: 20px;
}
.module span{
    color:#31A8DD
}
#transform-world{
    height: 400px;
    border: #31A8DD solid 1px;
    background-image: url('../images/woman-code.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
#transform-world p{
    position: relative;
    top:20%;
    text-align: left;
    margin-left: 200px;
    width:250px;
    color:#FFF;
    text-shadow: 2px 2px #31A8DD;
    font-size: 40px;
    font-family: raleway-bold;
    text-transform: lowercase;
}
#professional-challenges{
    margin: auto;
    width: 600px;
    height: 640px;
}
footer{
    height: 150px;
    border-top: #31A8DD solid 1px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgb(2, 38, 54),rgba(0, 0, 0, 1));
}
footer .logo-fim{
    margin: auto;
    width:350px;
    padding-top:40px;
   
}
.dio-logo{
    width: 350px;
    
}
.logo-fim p{
    text-align: center;
    color: #FFF;
    padding-bottom: 20px;
    font-family: raleway-light;
    
}
footer p a{
    text-decoration: none;
    font-weight: 900;
    color: #8acbe8;    
}

